.cart_panel {
    padding: 0;
}

.woocommerce table.shop_table {
    border: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
.table>thead>tr>th {
    border-bottom: 0;
}
.woocommerce table.shop_table td {
    border-top: 0;
}