@media only screen and (min-width: 320px) {
  .footer-info {
    background-color: #353535;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .footer_title {
    display: inline-block;
    color: #ffffff;
    padding-bottom: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #d32f2f;
  }
  .footer_menu {
    padding: 0;
  }
  .footer_menu li.menu-item {
    padding-left: 30px;
    position: relative;
    margin: 10px 0;
  }
  .footer_menu li.menu-item a {
    color: #ffffff;
    font-size: 0.938em;
    font-weight: 400;
    line-height: 1.444;
    padding: 3px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .footer_menu li.menu-item:hover a {
    border-bottom: 2px solid #d32f2f;
  }
  .footer_menu li.active a {
    font-weight: 700;
    letter-spacing: 0.052em;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 2px solid #d32f2f;
  }
  .footer_menu li.active:before {
    color: #d32f2f;
    content: "\f0da";
    display: inline-block;
    font-family: 'FontAwesome';
    line-height: 1;
    left: 6px;
    position: absolute;
    top: 2px;
    width: 30px;
  }
  .wpi_info {
    padding: 0;
    list-style: none;
    margin-top: 10px;
  }
  .wpi_info li {
    color: #ffffff;
    font-size: 0.938em;
    line-height: 1.444;
    margin-bottom: 35px;
    padding-left: 30px;
    position: relative;
  }
  .wpi_info li a {
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .wpi_info li a:hover {
    border-bottom: 2px solid #d32f2f;
  }
  .wpi_phone span {
    font-weight: bold;
  }
  .wpi_info li:before {
    font-family: FontAwesome;
    display: inline-block;
    left: 0;
    position: absolute;
    width: 30px;
    height: auto;
    color: #d32f2f;
  }
  .wpi_phone:before {
    content: "\f095";
  }
  .wpi_email a {
    color: #fff;
    font-size: 0.938em;
    font-weight: 700;
    letter-spacing: 0.052em;
    line-height: 1;
    text-transform: uppercase;
  }
  .wpi_email:before {
    content: "\f0e0";
  }
  .wpi_location:before {
    content: "\f041";
  }
  .footer-wrapper {
    background-color: #4c4c4c;
    color: #ffffff;
  }
  .footer-wrapper p {
    margin: 0;
  }
  .copyright {
    display: block;
    float: left;
    text-align: left;
    padding: 30px 0;
  }
  .powered {
    display: block;
    float: right;
    text-align: right;
    padding: 30px 0;
  }
  .footer-info .form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d32f2f),to(#d32f2f)),-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
    background-image: -webkit-linear-gradient(#d32f2f,#d32f2f),-webkit-linear-gradient(#ffffff,#ffffff);
    background-image: -o-linear-gradient(#d32f2f,#d32f2f),-o-linear-gradient(#ffffff,#ffffff);
    background-image: linear-gradient(#d32f2f,#d32f2f),linear-gradient(#ffffff,#ffffff);
    -webkit-background-size: 0 2px,100% 1px;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center -webkit-calc(100% - 1px);
    background-position: center bottom,center calc(100% - 1px);
    background-color: rgba(0,0,0,0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
  .footer-info .form-group.is-focused .form-control {
    outline: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d32f2f),to(#d32f2f)),-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
    background-image: -webkit-linear-gradient(#d32f2f,#d32f2f),-webkit-linear-gradient(#ffffff,#ffffff);
    background-image: -o-linear-gradient(#d32f2f,#d32f2f),-o-linear-gradient(#ffffff,#ffffff);
    background-image: linear-gradient(#d32f2f,#d32f2f),linear-gradient(#ffffff,#ffffff);
    -webkit-background-size: 100% 2px,100% 1px;
    background-size: 100% 2px,100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
  .footer-info .form-group label.control-label {
    color: #ffffff;
  }
  .footer-info .form-group.is-focused label.control-label {
    color: #d32f2f;
  }
  .footer-info .form-group {
    margin: 0;
  }
  .footer-info .form-control {
    color: #ffffff;
  }
  .footer-info .frm_error {
    color: #d32f2f;
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .footer-info .frm_message {
    color: #FFFFFF;
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.5px;
  }
}
@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}