
@media only screen and (min-width: 320px) {

}
@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768px) {
  .panel-title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
  .panel.panel-danger>.panel-heading {
    background-color: #d32f2f;
  }
  .funnel_image_wrapper {
    padding: 15px 90px;
  }
  .works-content {
    text-align: center;
  }
  .how-it-works .panel-body {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}

